$container-max-widths: ();

@import "~bootstrap/scss/bootstrap.scss";
@import "./entities.scss";

/* ### GLOBAL ### */

body {
    display: flex;
    min-height: 100vh;
    font-size: 1.8vmin;
    line-height: 1.3;
    overflow: hidden;
}

.app {
    position: relative;
    align-self: center;
    // I have no idea how this formula works (found by trial and error),
    // but it does seem to work better than anything else i've tried
    // regarging scaling.
    max-width: calc(133.5vmin - 38px);
}

.navbar {
    padding: 0.5vmin 1vmin 0.5vmin 1vmin !important;
}

.navbar-brand {
    font-size: 1.8vmin;
    padding: 0;
}

.navbar-nav .nav-link {
    padding: 0;
    padding-left: 1vmin;
    padding-right: 1vmin;
    outline: 0;
}

.navbar-nav input {
    font-size: 1vmin;
    border: 0;
}


/* ### WORLD ### */

table.world {
    table-layout: fixed;
    // taken from bootstrap's "border" class
    border: 1px solid #dee2e6;

    tr {
        border: inherit;
    }

    td {
        border: inherit;
        // This is a trick to set the cell height equally to its
        // width. 100% / 25 cells = 4%, empirically had to be reduced
        // to 3.75%, maybe cell borders are skewing the math here.
        // Split between padding-top and padding bottom.
        padding-top: 1.875%;
        padding-bottom: 1.875%;
        line-height: 0px;
        text-align: center;
        position: relative;
    }

    td span {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        display: block;
    }
}
